body {
    font-family: 'Ubuntu', sans-serif;
} 
.header {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 9px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 53px;
}
.footer {
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 20px;
} 
.wrap {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
/*меню*/
.nav {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    font-size: 14px;
    align-items: center;
    font-weight: 700;
}
.nav>li {
    margin-left: 47px;
}
.nav_btn {
    background: #5528FF;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    font-weight: 700;
}
.logo {
    display: flex;
    align-items: center;
}
.logo_img {
    display: block;
    background-image: url(/img/logo.svg);
    height: 58px;
    width: 58px;
    margin-right: 25px;
}
.logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px; 
}
/*первый блок*/
.title-main {
    font-weight: 800;
    font-size: 57px;
    line-height: 65px;
    margin-top: 77px;
}
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
.text-main {
    font-size: 32px;
    line-height: 51px;
    width: 741px;
    color: #4F4F4F;
    font-weight: normal;
    margin-top: 30px;
}
p {
    margin-block-start: 0;
    margin-block-end: 0; 
}
.button {
    background: #5528FF;
    border-radius: 10px;
    color: white;
    padding: 16px 55px;
    border: none;
    font-size: 24px;
    margin-top: 70px;
}
.page {
    padding: 40px 0;
    position: relative;
    margin-bottom: 69px;
}
.page-top {
    border-top: 1px solid #C2C2C2;
}
.page h2 {
    position: absolute;
    top: -24px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: #C2C2C2;
}
/*сервисы*/
.services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.srevices {
    margin-top: 67px;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-row-gap: 30px;
}
.services_img {
    text-align: center;
    flex-basis: 120px; 
    margin-right: 30px;
}
.services_text {
    flex-basis: calc(120% - 100px);
}
.srevices h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}
.srevices p {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
    width: 292px;
}
/*клиенты*/
.clients {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    text-align: center;
    grid-row-gap: 44px;
    margin-top: 30px;
}
/*команда*/
.team {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 33%);  
    grid-row-gap: 55px;  
    margin-top: 57px;
}
.team h3 {
    font-size: 28px;
    line-height: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 10px;
}
.team-item p {
    color: #B2B2B2;
    font-size: 14px;
    line-height: 16px;
}
.team-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.team-item img {
    margin-right: 40px;
}
.team-item>div {
    flex-basis: calc(100% - 100px);
}
/*футер*/
.footer {
    background-color: #F7F7F7;
    padding-top: 0;
    padding-bottom: 0;
}
.social {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 24px;
}
.social>li {
    margin-left: 45px;
}
.social>li>a {
    text-decoration: none;
    color: #B2B2B2;
}
.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}